# EditorConfig file: http://editorconfig.org/

root = true

# Default settings for all file types:
# + save files in UTF-8 encoding
# + use soft tabs
# + set the width of soft tabs to 4
# + use Unix line-endings and a final newline
# + remove whitespace at the end of lines
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true


# Make use tabs for indentation
[{Makefile,**.mak}]
indent_style = tab
